<!-- app/views/wildlife_locations/index.html.erb -->
<%= turbo_frame_tag "locations" do %>
  <!-- Search Form -->
  <h3>Search Conservation Sites</h3>
  <%= form_with url: wildlife_locations_path, method: :get, local: true do |form| %>
    <div>
      <%= form.label :search_location, "Location" %>
      <%= form.text_field :search_location %>
    </div>
    <div>
      <%= form.label :radius, "Radius (km)" %>
      <%= form.text_field :radius %>
    </div>
    <div>
      <%= form.submit "Search" %>
    </div>
  <% end %>

  <!-- Map Message -->
  <div id="map-message" style="color: red; margin-bottom: 10px;">
    <%= flash.now[:notice] || flash.now[:alert] %>
  </div>

  <!-- Map Display -->
  <div id="map" data-controller="map"
       data-map-center-lat="<%= @center_lat %>"
       data-map-center-lon="<%= @center_lon %>"
       style="height: 500px;"></div>
  <hr>

  <!-- Add New Conservation Site Form -->
  <h3>Add a New Conservation Site</h3>
  <%= form_with(model: WildlifeLocation.new, url: wildlife_locations_path, data: { turbo_frame: "locations" }) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :latitude %>
      <%= form.text_field :latitude %>
    </div>
    <div>
      <%= form.label :longitude %>
      <%= form.text_field :longitude %>
    </div>
    <div>
      <%= form.submit "Add Conservation Site" %>
    </div>
  <% end %>

  <!-- List of Conservation Sites -->
  <div id="sites_list">
    <ul>
      <% @wildlife_locations.each do |site| %>
        <%= render partial: "wildlife_locations/site", locals: { site: site } %>
      <% end %>
    </ul>
  </div>
<% end %>
