<%= turbo_frame_tag "locations" do %>
  <!-- Map Display -->
  <div id="map" data-controller="map"
       data-map-center-lat="<%= @center_lat %>"
       data-map-center-lon="<%= @center_lon %>"
       class="wt-map"></div>
  <hr class="wt-hr">

  <div class="wt-container">
    <%= render partial: "wildlife_locations/shared/flash_message" %>
    <!-- Forms Container -->
    <div class="wt-flex-container">
      <%= render partial: "wildlife_locations/shared/search_location" %>
      <%= render partial: "wildlife_locations/shared/add_wildlife_location" %>
    </div>
  </div>
<% end %>
