<!-- app/views/wildlife_locations/shared/_add_wildlife_location.html.erb -->
<div class="wt-card">
  <h3>Add a New Conservation Site</h3>
  <%= form_with(model: WildlifeLocation.new, url: wildlife_locations_path, data: { turbo_frame: "locations" }) do |form| %>
    <div class="wt-form-group">
      <%= form.label :name, class: "wt-form-label" %>
      <%= form.text_field :name, class: "wt-form-input" %>
    </div>
    <div class="wt-form-group">
      <%= form.label :latitude, class: "wt-form-label" %>
      <%= form.text_field :latitude, class: "wt-form-input" %>
    </div>
    <div class="wt-form-group">
      <%= form.label :longitude, class: "wt-form-label" %>
      <%= form.text_field :longitude, class: "wt-form-input" %>
    </div>
    <div class="wt-text-center">
      <%= form.submit "Add Conservation Site", class: "wt-btn wt-btn-primary" %>
    </div>
  <% end %>
  <!-- List of Conservation Sites -->
  <div id="sites_list" style="margin-top: 20px;">
    <h4 class="wt-text-center">Current Sites</h4>
    <% if @nearby_locations.present? %>
      <ul class="wt-list wt-text-center">
        <% @wildlife_locations.each do |site| %>
          <li>
            <strong><%= site.name %></strong> (Lat: <%= site.latitude %>, Lon: <%= site.longitude %>)
          </li>
        <% end %>
    <% else %>
      <strong> No site available</strong>
    <% end %>
    </ul>
  </div>
</div>
