<div class="wt-card">
  <h3>Search Conservation Sites</h3>
  <%= form_with url: wildlife_locations_path, method: :get, local: true do |form| %>
    <div class="wt-form-group">
      <%= form.label :search_location, "Location", class: "wt-form-label" %>
      <%= form.text_field :search_location, value: params[:search_location], class: "wt-form-input" %>
    </div>
    <div class="wt-form-group">
      <%= form.label :radius, "Radius (km)", class: "wt-form-label" %>
      <%= form.text_field :radius, value: params[:radius], class: "wt-form-input" %>
    </div>
    <div class="wt-text-center">
      <%= form.submit "Search", class: "wt-btn wt-btn-success" %>
    </div>
  <% end %>
</div>
